<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Map across the globe - Meteorites</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <script src="../static/js/d3.v5.min.js"></script>
  <script src="../static/js/topojson.v2.min.js"></script>
  <script  src="../static/js/index.js"></script>
  <!-- <script>
    // https://github.com/topojson/topojson-client
    // https://bl.ocks.org/mbostock/3783604
    var context = d3.select("canvas").node().getContext("2d"),
        path = d3.geoPath().context(context);

    d3.json("../static/us-10m.v1.json", function(error, us) {
      if (error) throw error;

      context.beginPath();
      path(topojson.mesh(us));
      context.stroke();
    });
  </script>
  -->
</body>
</html>
